.homepage {
  table {
    border: 2px solid grey;
    padding: 16px;
  }
  th,
  td {
    padding-left: 30px;
    padding-right: 40px;
  }

  td.late {
    background-color: red;
  }

  .alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    padding: 0 8px;
    margin: 16px 0;
    width: 400px;

    .dismiss {
      cursor: pointer;
    }
  }

  .create-invoice-wrapper {
    margin-top: 32px;
  }
}

.invoice-page {
  .invoice-header {
    display: flex;
    margin: 32px 0;
    > div {
      padding-right: 32px;
    }
  }
  textarea {
    display: block;
    margin: 16px 0;
  }
  input,
  select {
    margin: 16px 0;
    display: block;
    font-size: 16px;
  }
  label {
    display: block;
    font-size: 24px;
  }

  .back-btn {
    margin-bottom: 24px;
    display: block;
  }

  .invoice-table {
    border: 2px solid grey;
    padding: 32px 16px;
    margin: 32px 0;

    input {
      margin: 0;
    }
    .amount-total {
      font-weight: bold;
      font-size: 24px;
    }

    tfoot {
      th,
      td {
        margin-top: 32px;
        padding-top: 32px;
      }
    }
  }

  .add-item-btn {
    margin-top: 32px;
  }

  .save-btn {
    margin-top: 32px;
    font-size: 32px;
  }
}
